body {
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    color: #333
}
button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
}