
body {
    background-color: rgb(229, 165, 195);
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    color: #333
    
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

nav ul {
    background-color: #333; 
    color: white;
}

header, nav, main, aside, footer {
    padding: 1rem;
}

nav ul {
    background-color:aqua;
    list-style-type: none;
    padding: 0;
    color:rgb(27, 34, 34)
    
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    color: aquamarine;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex: 3;
}

aside {
    flex: 1;
}


h1, h2, h3 {
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {   
    text-decoration: underline;
}

footer {
    background-color: #971d1d;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    main, aside {
        flex: 1;
    }
}